@import '../../../main-styles.scss';

.root {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  position: relative;

  &:hover {
    .x-icon-button img{
      opacity: 1;
      transform: scale(1);

    }
  }

  .x-icon-button img {
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: $dark;
    right: -14px; // this has to be half of the width
    top: -14px; // this has to be half of the height
    cursor: pointer;

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform: scale(0);
    opacity: 0;

    &:hover {
      transform: scale(1.2);
    }

  }


}

.budget-item {
  display: flex;
  width: 100%;
  background-color: darken($light-grey, 2%);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: darken($light-grey, 4%);
  }

  .description {
    display: flex;
    flex-grow: 1;
    font-size: 1.1rem;
    margin-left: 5px;

    //Vertically center the children elements
    align-items: center;

  }

  .amount {
    padding: 5px;
    border-radius: 3px;

    p {
      padding: 3px 5px;
      border-radius: 3px;
    }
  }
}

.expense {
  p {
    color: $red;
  }

  .amount {
    p {

      background-color: $light-red;
    }
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    p {
      background-color: $light-green;
    }
  }
}
